/* 
    Default CSS Definitions for VimeoLoader MODX Add-On 
*/

.video-thumb-wrapper {
    width: 225px;
    float:  left;
    text-align: center;
}
.video-thumb-wrapper h5 {
    font-size: 14px;
    line-height: 1.2;
}
.video-thumb-wrapper img  {
    border: 1px solid #9a3d1d;
}

.video-loader {
    position: relative;
}

.current-tag {
    position: absolute;
    bottom: 3px;
    left: 1px;
    width: 200px;
    height: 25px;
    background: transparent url(../../../../styles/assets/now_playing.png) top left no-repeat;
}